<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

#Aumenta el tamaño de manejo de informacion
#php_value upload_max_filesize 0
#php_value post_max_size 0
#php_value max_execution_time 10000
